@(emailForm: Form[String])(implicit request: RequestHeader, messages: Messages, assets: WebJarAssets)

@_template(None) {
    <div class="row">
        <div class="medium-4 medium-centered columns">
            <label>
            Forgot Your Password?
            </label>
        </div>
    </div>
    <form method="post" action="@routes.Authentication.handleForgotPassword()">
        <div class="row">
            <div class="medium-4 medium-centered columns">
                <label>Email
                    <input type="email" placeholder="your@@email.com" name="email" value="@emailForm("email").value" required/>
                    @emailForm.error("email").map { formError =>
                    <span class="form-error is-visible">@formError.message</span>
                    }
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-4 medium-centered columns">
                <button type="submit" class="button expanded">Reset Password</button>
            </div>
        </div>
    </form>
}