@(tokenId: String, passwordsForm: Form[(String, String)])(implicit request: RequestHeader, messages: Messages, assets: WebJarAssets)

@_template(None) {
    @tags.alertFromRequest(request, "error")
    @passwordsForm.globalError.map { error =>
        @tags.alert(error.message, "error")
    }
    <form method="post" action="@routes.Authentication.handleResetPassword(tokenId)">
        <legend>@Messages("forgot.reset.title")</legend>
        <div class="row">
            <div class="medium-8 medium-centered columns">
                <label>Password
                    <input type="password" name="password1" value="@passwordsForm("password1").value" required/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-8 medium-centered columns">
                <label>Confirm Password
                    <input type="password"  name="password2" value="@passwordsForm("password2").value" required/>
                </label>
            </div>
        </div>
        <button type="submit" class="button expanded success">Submit</button>
    </form>
}