@import models.poloniex.PoloniexMarketUpdate

@(account: Entity[Account], btcUpdate: Option[PoloniexMarketUpdate], updates: List[PoloniexMarketUpdate])(implicit webJarAssets: WebJarAssets, messages: Messages)

@scripts = {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/markets/updates.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/markets/setups.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/markets/revenueChart.js")'></script>
}


@_template(Some(account), scripts) {
    <div class="row">
        <div class="columns small-4 markets">
            <table>
                <thead>
                <tr>
                <th>Market</th>
                <th>Price</th>
                <th>Volume</th>
                <th>% Change</th>
                </tr>
                </thead>

                <tbody>
                @for(update <- updates) {
                    <tr id="@update.marketName" class="">
                    <td><a href="@routes.PoloniexController.market(update.marketName)">@update.marketName</a></td>
                    <td>@("%1.8f".format(update.info.last))</td>
                    <td>@update.info.baseVolume</td>
                    <td>@update.info.percentChange</td>
                    <td hidden>@update.info.high24hr</td>
                    <td hidden>@update.info.low24hr</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="columns small-8 parent">
            <div class="chart" id="revenue-chart"></div>
        </div>
    </div>
}
