@import models.market.MarketStructures.MarketMessage

@(account: Entity[Account], marketName: String, msg: MarketMessage)(implicit webJarAssets: WebJarAssets, messages: Messages)

@scripts = {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/charts/candle.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/charts/init.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/charts/updates.js")'></script>
}


@_template(Some(account), scripts) {
    <div class="row column markets">
        <div hidden id="market-name">@marketName</div>
        <div hidden id="market-last">@msg.last</div>
        <div hidden id="market-percent">@msg.percentChange</div>
        <div hidden id="market-high">@msg.high24hr</div>
        <div hidden id="market-low">@msg.low24hr</div>
        <div class="large-8 columns chart" id="candle-chart"></div>
    </div>
}
