@import models.poloniex.Market

@(account: Entity[Account], btc: Option[Market], markets: List[Market])(implicit webJarAssets: WebJarAssets, messages: Messages)

@scripts = {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/tickers.js")'></script>
}

@_template(Some(account), scripts) {
    <div class="row markets">
        <div class="columns small-8">
        <div class="row">
           <table>
              <thead>
                  <tr>
                  <th>24 Hour Change</th>
                  <th>Last Sale</th>
                  <th>24 Hour High</th>
                  <th>24 Hour Low</th>
                  </tr>
              </thead>
              <tbody>
              <tr>
                  <td id="td-change">3</td>
                  <td id="td-high">4</td>
                  <td id="td-low">5</td>
                  <td id="td-last">1</td>
              </td>
              </tbody>
           </table>
        </div>
        <div class="row" id="candle-chart"></div>
        </div>
        <div class="columns small-4">
            @btc.map{ m =>
            <h4 id="@m.name">@m.status.last</h4>
            }
            <table>
                <thead>
                <tr>
                <th>Market</th>
                <th>Price</th>
                <th>Volume</th>
                <th>% Change</th>
                </tr>
                </thead>

                <tbody>
                @for(market <- markets) {
                    <tr id="@market.name">
                    <td>@market.name</td>
                    <td>@("%1.8f".format(market.status.last))</td>
                    <td>@market.status.baseVolume</td>
                    <td>@market.status.percentChange</td>
                    <td hidden>@market.status.high24hr</td>
                    <td hidden>@market.status.low24hr</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
