@import models.poloniex.Market

@(btc: Option[Market], tickers: List[Market])(implicit webJarAssets: WebJarAssets, messages: Messages)

@scripts = {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/tickers.js")'></script>
}

@_template(None, scripts) {

    @btc.map{ tic =>
        <h1>@tic.status.last</h1>
    }

    <table>
        <tr>
        <th>Market</th>
        <th>Price</th>
        <th>Volume</th>
        <th>% Change</th>
        </tr>

        @for(ticker <- tickers) {
            <tr id="@ticker.ticker">
            <td>@ticker.ticker</td>
            <td>@("%1.8f".format(ticker.status.last))</td>
            <td>@ticker.status.baseVolume</td>
            <td>@ticker.status.percentChange</td>
            </tr>
        }
    </table>
}
